html,
body {
  margin: 0;
  height: 100%;
}
body {
  height: 100%;
}
.flex-container {
  display: -webkit-flex;
  display: flex;
  min-height: 100%;
}
.sidenav {
  -webkit-flex: 1;
  flex: 1;
  width: 25vw;
}
.content {
  padding: 10px;
  -webkit-flex: 5;
  flex: 5;
  height: 2000px;
}
